* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}

body {
  background: #000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 44, 44, 1) 23%,
    rgba(94, 43, 43, 1) 47%,
    rgba(153, 41, 41, 1) 70%,
    rgba(156, 7, 32, 1) 100%
  );
}

#turnos {
  background-color: #555252;
  /* position: absolute;
  left: 60vw;
  top: 83vh; */
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.pontuacao-pai {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
  align-items: center;
  margin-top: 20px;
}

.pontuacao-jogadores {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
}

#pontuacaoJogadorUm {
  background-color: #313030;
  /* position: absolute;
  left: 60vw;
  top: 83vh; */
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#pontuacaoJogadorDois {
  background-color: #313030;
  /* position: absolute;
  left: 60vw;
  top: 5vh; */
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.maoJogadorUm {
  position: absolute;
  display: flex;
  gap: 5px;
  left: 43vw;
  bottom: 1vh;
}

.cartaUm {
  transform: rotate(-5deg);
}

.cartaDois {
  transform: rotate(5deg);
}

.maoJogadorDois {
  position: absolute;
  display: flex;
  gap: 5px;
  left: 43vw;
  top: 1vh;
}

.cartaUm {
  transform: rotate(-5deg);
}

.cartaDois {
  transform: rotate(5deg);
}

img {
  width: 80px;
  height: 120px;
  border: 3px solid #000;
}

.cartasComun {
  position: absolute;
  left: 45vw;
  bottom: 45vh;
  transform: rotate(13deg);
}

#finalizarTurno {
  background-color: #313030;
  color: #fff;
  width: 120px;
  height: 60px;
  position: fixed;
  left: 85vw;
  top: 35vw;
}

#finalizarTurno:hover {
  background-color: #fff;
  color: #313030;
}
